body {
    background-color: #cecece;
    font-size: 16px;
}

div#info-view {
    text-align: center;
}

canvas#tic-canvas {
    display: block;
    margin: 10px auto;
}

button#restart-button {
    font-size: 18px;
    display: block;
    margin: 10px auto;
    padding: 6px 10px;
    border: 0;
    cursor: pointer;
    background-color: #c0392b;
    color: #ffffff;
}

button#restart-button:hover {
    background-color: #d14233;
}